<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css">
<style>
  body {
    padding-top: 40px;
  }
</style>

<div class="container" >
  <h2 class="text-center"> Smartlink Demo </h2>
  <br/>
  <form method="post" action="/order" class="form-horizontal">
    <div class="form-group">
      <label for="version" class="col-sm-2 control-label"> Version </label>
      <div class="col-sm-10">
        <input type="text" id="version" name="version" value=<%= "#{@version}" %> class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label for="command" class="col-sm-2 control-label"> Command </label>
      <div class="col-sm-10">
        <input type="text" id="command" name="command" value=<%= "#{@command}" %> class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label for="access_code" class="col-sm-2 control-label"> Access Code </label>
      <div class="col-sm-10">
        <input type="text" id="access_code" name="access_code" value=<%= "#{@access_code}" %> class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label for="merchant_ref" class="col-sm-2 control-label"> Merchant Ref </label>
      <div class="col-sm-10">
        <input type="text" id="merchant_ref" name="merchant_ref" value=<%= "#{@merchant_ref}" %> class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label for="merchant" class="col-sm-2 control-label"> Merchant </label>
      <div class="col-sm-10">
        <input type="text" id="merchant" name="merchant" value=<%= "#{@merchant}" %> class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label for="order_info" class="col-sm-2 control-label"> Order Info </label>
      <div class="col-sm-10">
        <input type="text" id="order_info" name="order_info" value=<%= "#{@order_info}" %> class="form-control"/>
      </div>
    </div>


    <div class="form-group">
      <label for="amount" class="col-sm-2 control-label"> Amount </label>
      <div class="col-sm-10">
        <input id="amount" name="amount" type="text" value=<%= "#{@amount}" %> class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label for="locale" class="col-sm-2 control-label"> Locale </label>
      <div class="col-sm-10">
        <input type="text" id="locale" name="locale" value=<%= "#{@locale}" %> class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label for="currency" class="col-sm-2 control-label"> Currency </label>
      <div class="col-sm-10">
        <input id="currency" name="currency" type="text" value=<%= "#{@currency}" %> class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label for="return_url" class="col-sm-2 control-label"> Return URL </label>
      <div class="col-sm-10">
        <input type="text" id="return_url" name="return_url" value=<%= "#{@return_url}" %> class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label for="back_url" class="col-sm-2 control-label"> Back URL </label>
      <div class="col-sm-10">
        <input type="text" id="back_url" name="back_url" value=<%= "#{@back_url}" %> class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label for="ip_address" class="col-sm-2 control-label"> IP Address </label>
      <div class="col-sm-10">
        <input type="text" id="ip_address" name="ip_address" value=<%= "#{@ip_address}" %> class="form-control"/>
      </div>
    </div>

    <div class="text-center">
      <button type="Submit" name="btnSubmit" value="Submit" id="btnSubmit" class="btn btn-primary"/> Submit </button>
    </div>
  </form>
</div>
